td,th
{
	border: 1px solid black;
	padding: 15px;
}

table
{
	border-collapse: collapse;
	margin:auto;
	text-align: center;
	/* background-color: #CBCDEE; */
	background-color: rgba(203,205,238,0.8);
	border-radius: 20px;
}
caption
{
	font-size: 18px;
}

#xxx
{
text-decoration: none;	
}

th:nth-child(1) {
  width: 20%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 40%;
}

th:nth-child(4) {
  width: 20%;
}

th
{
	font-size: 20px;
}

#prems
{
	background-color: rgba(203,205,238,0.8);
	padding: 8px;
	border-radius: 20px;
}