#intro
{
	margin:20px;
	padding: 8px;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	background-color:rgba(203,205,238,0.5);
}

ul
{
	list-style-position: inside;
}

#vid{
	margin-left:450px!important;
}


