h3{
    text-align: center;
    margin-top:10px!important;
    margin-bottom:10px!important;
}

h4{
    text-align:center;
}


h2{
    margin-top:20px!important;
}

.pouleA, .pouleB, .pouleC, .pouleD, .pouleE, .pouleE{
    margin-top:20px;
    text-align:center;
}

.titrepoule{
    margin-left:45px;
}

section{
    margin-bottom:20px!important;
    margin-bottom:20px!important;
}
.equipe{
    border:1px solid;
    width:120px;
    height:50px;
    display:flex;
    align-items:center;
    text-align: center;
    background-color:white;
}
.organisation{
    border:1px solid;
    width:50px;
    height:50px;
    padding-top:15px;
    text-align:center;
    background-color:white;
}


equipe:hover{
    cursor:grab!important;
}
#poules{
    justify-content:space-evenly;
}
.bouton{
    width:80px;
    text-align:center;
    margin:auto;
    margin-top:50px;
}
#userName, #label{
    text-align:center;
    margin-top:50px;
}
.button:hover{
    cursor:pointer;
}
ul{
    list-style-type:none;
}
.match8{
    margin-bottom:35px;
    margin-right:10px;
    border: 1px solid;
    width:180px;
    min-height:80px;
    display:inline-flex;
    text-align:center;
    flex-direction:column;
}
.content{
    display:inline-flex;
    justify-content: space-evenly;
    margin-top:5px;
}

.match4{
    margin-bottom:35px;
    margin-right:10px;
    border: 1px solid;
    width:220px;
    text-align:center;
    flex-direction:column;
    min-height:80px;
    display:inline-flex;
}
.match2{
    margin-bottom:35px;
    margin-right:10px;
    border:1px solid;
    width:300px;
    text-align:center;
    flex-direction:column;
    min-height:80px;
    display:inline-flex
}
.matchFin{
    margin-bottom:35px;
    margin-right:10px;
    display:inline-flex;
    justify-content: space-evenly;
    align-items: center;
    min-height:70px;
    border:1px solid;
    width:370px;
}
.eq1{
    border: 1px solid;
    min-height:50px;
    word-break: break-all;
    width:170px!important;
}
.eq{
    border:solid 1px;
    min-height:50px;
    word-break:break-all;
    width:70px!important;
}
.eqQuart{
    border:solid 1px;
    min-height:50px;
    word-break:break-all;
    width:100px!important;
}
.eq2{
    border:solid 1px;
    min-height:50px;
    word-break: break-all;
    width:130px!important;
}

.huitiemes{

    margin-left:2px!important;
    margin-right:2px!important;
}
.quart{
    margin-left:10px!important;
    margin-right:10px!important;
}
.demi{
    margin-left:10px!important;
    margin-right:10px!important;
}
#sortable7{
    margin:auto;
}

.titreEquipe{
    width:100%;
    text-align: center;
}

.equipe3{
    border:1px solid;
    height:50px;
    width:200px;;
    padding:15px;
    text-align: center;
    background-color:white;
}
.classement{
    text-align:center;
}
.clast{
    border-width:0px;
    border:none;
    background-color:rgba(203,205,238, 0.01);
}
form{
    background-color: rgba(203,205,238,0.4);
    padding:8px;
    margin-top:20px;
}
p
{
    font-size: 14px;
    text-align: center;
}

.car{
    border:1px solid;
    width:80px;
    height:100px;
    padding:5px;
    margin-right:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    vertical-align: middle;
    background-color:white;
}

#compte_a_rebours{
    margin-left:40%;
    margin-top:150px;
    
}

.nb{
    font-size:50px;
}