td,th
{
	border: 1px solid black;
	padding: 15px;
}

table
{
	border-collapse: collapse;
	margin:auto;
	text-align: center;
	/* background-color: #F2F3F9; */ 
	background-color: #CBCDEE;
}
caption
{
	font-size: 18px;
}

#xxx
{
text-decoration: none;	
}

th:nth-child(1) {
  width: 20%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 40%;
}

th:nth-child(4) {
  width: 20%;
}

th
{
	font-size: 20px;
}