#conteneur1, #conteneur2, #conteneur3
{
	display: flex;
	justify-content: space-between;
	background-color: #CBCDEE;
}

#cont1, #cont21, #cont31
{
	display: flex;
	float: left;
	border: 1px #BCBFEE solid;
	width: 50%;
	word-wrap:break-word;
	overflow: auto;
	padding: 5px;
	justify-content: space-between;
}

#cont2, #cont22, #cont32
{
	display: flex;
	float: right;
	border: 1px #BCBFEE solid;
	width: 50%;
	word-wrap:break-word;
	overflow: auto;
	padding:5px;
	justify-content: space-between;
}

.it
{
	font-style: italic;
}

audio
{
	width: 150px;
	height: 20px;
}

body
{
}